<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/app.js" defer></script>
    <title>
        {{ title }}
    </title>
</head>

<body>

    <header class="navbar">
        <nav>
            <a href="/">Home</a>

    {% if not session.get('user_id') %}
        <!-- <a href="/">Login</a> -->
    {% else %}
         <span>Welcome, {{ session.get('user_username') }}</span>
         <a href="/logout">Logout</a>
    {% endif %}

        </nav>
    </header>