<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>
        Signup
    </title>
</head>
<body>

    <div id="tooltip"></div>

    <form mix-post="/api-create-user">

        <label for="">Username:</label>
        <input  name="user_username" type="text" 
                mix-post="/api-check-username"
                mix-input
                mix-delay="1000"
                mix-validate="{{ x.USER_USERNAME_REGEX }}"           
        >
        <span></span>

        <label for="">Password:</label>
        <input  name="user_password" type="text" 
            mix-validate="{{ x.USER_PASSWORD_REGEX }}"
        >

        <button>
            Create user
        </button>
       
    </form>

    <script src="/static/mixhtml.js"></script>

</body>
</html>