{% include "_header.html" %}

<main id="travels">

    <div id="destination-container">
    <h2 id="create-destination-page" data-username="{{ user_username }}">Ready to travel <b style="text-transform: uppercase;">{{ username }}</b> ?</h2>
    <div class="create_container">
        
    <form action="/create_destination_login" method="post">

    <input name="travel_title" type="text" placeholder="Title" >
    <textarea name="travel_description" placeholder="Description" class="travel-input"></textarea>
    <input name="travel_location" type="text" placeholder="Location" >
    <input name="travel_country" type="text" placeholder="Country" >
    
    <label for="start_date">Select a start date:</label>
    <input type="date" id="travel_from_date" name="travel_from_date">

    <label for="end_date">Select a end date:</label>
    <input type="date" id="travel_to_date" name="travel_to_date">

    <button class="button-group">Create</button>

    </form>
    </div>
    
    <div id="travels">

    {% for travel in travels %}
        {% include "___destination.html" %}
    {% endfor %}

    </div>

    </div>

      
</main>

<!-- sql
 INSERT INTO travel (travel_id, fk_user_id, travel_title) 
 SELECT 'c63c37e096364a63b0c29758bdda6367', user_id, 'title' 
 FROM users WHERE user_username = 'test' LIMIT 1; -->

 <!-- db3a7afccd5e42f0b8481ce566e22632 -->